{% extends "template.html" %}

{% block content %}
<H1 class="alert alert-info"><i class="glyphicon glyphicon-knight"></i> Zoznam Zvierat</H1>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meno</th>
      <th scope="col">Vek</th>
    </tr>
  </thead>
  <tbody>
{% for animal in animals %}
   <tr onclick="window.location='/pavilion/{{animal[0]}}'">
       <th scope="row">{{ animal[0] }}</th>
       <td><a href="/pavilion/{{animal[0]}}">{{ animal[1] }}</a></td>
      <td>{{ animal[2] }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

